{% extends 'base.twig' %}

{% block title %}Liste des pneus{% endblock %}

{% block body %}
    <h1>Liste des pneus</h1>
    <table>
        <thead>
        <tr>
            <th>Marque</th>
            <th>Type de Véhicule</th>
            <th>Saison</th>
            <th>Prix Unitaire</th>
            <th>Quantité en Stock</th>
            <th>Description</th>
            <th>Date d'Ajout</th>
            <th>Taille</th>
            <th>Indice de Charge</th>
            <th>Indice de Vitesse</th>
            <!-- Ajouter d'autres colonnes si nécessaire -->
        </tr>
        </thead>
        <tbody>
        {% for pneu in pneus %}
            <tr>
                <td>{{ pneu.marque }}</td>
                <td>{{ pneu.typeVehicule }}</td>
                <td>{{ pneu.saison }}</td>
                <td>{{ pneu.prixUnitaire }} €</td>
                <td>{{ pneu.quantiteStock }}</td>
                <td>{{ pneu.description }}</td>
                <td>{{ pneu.dateAjout|date('Y-m-d') }}</td>
                <td>{{ pneu.getIdCara().taille }}</td>
                <td>{{ pneu.getIdCara().indiceCharge }}</td>
                <td>{{ pneu.getIdCara().indiceVitesse }}</td>
                <!-- Afficher d'autres propriétés si nécessaire -->
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
