<div class="block-products-columns__list-item">
    <div class="product-card">
        <div class="product-card__actions-list">
            <button class="product-card__action product-card__action--quickview" type="button" aria-label="Quick view" id="{{ id }}">
                <svg width="16" height="16">
                    <path d="M14,15h-4v-2h3v-3h2v4C15,14.6,14.6,15,14,15z M13,3h-3V1h4c0.6,0,1,0.4,1,1v4h-2V3z M6,3H3v3H1V2c0-0.6,0.4-1,1-1h4V3z
    M3,13h3v2H2c-0.6,0-1-0.4-1-1v-4h2V13z" />
                </svg>
            </button>
        </div>
        <div class="product-card__image">
            <div class="image image--type--product">
                <a href="{{ path('product', {'slug': slug}) }}" class="image__body">
                    <img class="image__tag" src="{{ minio_url(image) }}" alt="">
                </a>
            </div>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <div>
                    <div class="product-card__badges">
{#                        {% if show_sale %}#}
{#                            <div class="tag-badge tag-badge--sale">sale</div>#}
{#                        {% endif %}#}
                        {% if tire.isNew() %}
                            <div class="tag-badge tag-badge--new">new</div>
                        {% endif %}
                        {% if tire.isHot() %}
                            <div class="tag-badge tag-badge--hot">hot</div>
                        {% endif %}
                    </div>
                    <a href="{{ path('product', {'slug': slug}) }}">{{ product_name }}</a>
                </div>
            </div>
            <div class="product-card__rating">
                <div class="rating product-card__rating-stars">
                    <div class="rating__body">
                        {% for i in 1..5 %}
                            {% if i <= noteMoyenne %}
                                <div class="rating__star rating__star--active"></div>
                            {% else %}
                                <div class="rating__star"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="product-card__rating-label">{{ noteMoyenne }} on {{ nombreEvaluations }} reviews</div>
            </div>
        </div>
        <div class="product-card__footer">
            <div class="product-card__prices">
                <div class="product-card__price product-card__price--current">{{ price }} DH</div>
            </div>
        </div>
    </div>
</div>