<!-- site__footer -->
<footer class="site__footer">
    <div class="site-footer">
        <div class="decor site-footer__decor decor--type--bottom">
            <div class="decor__body">
                <div class="decor__start"></div>
                <div class="decor__end"></div>
                <div class="decor__center"></div>
            </div>
        </div>
        <div class="site-footer__widgets">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="site-footer__widget footer-contacts">
                            <h5 class="footer-contacts__title">Contact Us</h5>
                            <div class="footer-contacts__text">
                                Have a question or need assistance? Feel free to reach out to us.
                            </div>
                            <address class="footer-contacts__contacts">
                                <dl>
                                    <dt>Phone Number</dt>
                                    <dd>{{ company_phone }}</dd>
                                </dl>
                                <dl>
                                    <dt>Email Address</dt>
                                    <dd>{{ company_email }}</dd>
                                </dl>
                                <dl>
                                    <dt>Our Location</dt>
                                    <dd>{{ company_location }}</dd>
                                </dl>
                                <dl>
                                    <dt>Working Hours</dt>
                                    <dd>{{ company_open_times }}</dd>
                                </dl>
                            </address>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Quick Links</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="{{ path('home') }}" class="footer-links__link">Home</a></li>
                                <li class="footer-links__item"><a href="{{ path('shop') }}" class="footer-links__link">Shop</a></li>
                                <li class="footer-links__item"><a href="{{ path('wishlist') }}" class="footer-links__link">Wishlist</a></li>
                                <li class="footer-links__item"><a href="{{ path('blog') }}" class="footer-links__link">Blog</a></li>
                                <li class="footer-links__item"><a href="{{ path('cart') }}" class="footer-links__link">Cart</a></li>
                                <li class="footer-links__item"><a href="{{ path('track-order') }}" class="footer-links__link">Track Order</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-6 col-md-3 col-xl-2">
                        <div class="site-footer__widget footer-links">
                            <h5 class="footer-links__title">Support Center</h5>
                            <ul class="footer-links__list">
                                <li class="footer-links__item"><a href="{{ path('about') }}" class="footer-links__link">About US</a></li>
                                <li class="footer-links__item"><a href="{{ path('contact') }}" class="footer-links__link">Contact US</a></li>
                                <li class="footer-links__item"><a href="{{ path('terms') }}" class="footer-links__link">Terms</a></li>
                                <li class="footer-links__item"><a href="{{ path('faq') }}" class="footer-links__link">FAQ</a></li>
                                <li class="footer-links__item"><a style="cursor:pointer;" onclick="document.body.classList.toggle('show-chatbot');" class="footer-links__link">AI Assistant</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="site-footer__widget footer-newsletter">
                            <h5 class="footer-newsletter__title">Newsletter</h5>
                            <div class="footer-newsletter__text">
                                Enter your email address below to subscribe to our newsletter and keep up to date with discounts and special offers.
                            </div>
                            <form action="" class="footer-newsletter__form">
                                <label class="sr-only" for="footer-newsletter-address">Email Address</label>
                                <input type="text" class="footer-newsletter__form-input" id="footer-newsletter-address" placeholder="Email Address...">
                                <button class="footer-newsletter__form-button">Subscribe</button>
                            </form>
                            <div class="footer-newsletter__text footer-newsletter__text--social">
                                Follow us on social networks
                            </div>
                            <div class="footer-newsletter__social-links social-links">
                                <ul class="social-links__list">
                                    <li class="social-links__item social-links__item--facebook"><a href="https://themeforest.net/user/kos9" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="social-links__item social-links__item--twitter"><a href="https://themeforest.net/user/kos9" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li class="social-links__item social-links__item--youtube"><a href="https://themeforest.net/user/kos9" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                    <li class="social-links__item social-links__item--instagram"><a href="https://themeforest.net/user/kos9" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li class="social-links__item social-links__item--rss"><a href="https://themeforest.net/user/kos9" target="_blank"><i class="fas fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="site-footer__bottom">
            <div class="container">
                <div class="site-footer__bottom-row">
                    <div class="site-footer__copyright">
                        <!-- copyright -->
                        &copy; {{ "now"|date("Y") }} <strong>RWAYED</strong>. All rights reserved.
                        <!-- copyright / end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- site__footer / end -->