{% extends 'base.twig' %}

{% block title %} - Account Addresses{% endblock %}

{% block body %}
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                {{ include('partials/_account-nav.twig', { activeNavItem: 'addresses' }) }}
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                 {% for message in app.flashes('success') %}
									<div class="alert alert-success" role="alert">
										{{ message }}
									</div>
								{% endfor %}
								{% for message in app.flashes('error') %}
									<div class="alert alert-danger" role="alert">
										{{ message }}
									</div>
								{% endfor %}
                    <div class="addresses-list">
                        <a href="{{ path('address_add') }}" class="addresses-list__item addresses-list__item--new">
                            <div class="addresses-list__plus"></div>
                            <div class="btn btn-secondary btn-sm">Add New</div>
                        </a>
                        	  
                            {% for address in addresses %}
                            <div class="addresses-list__item card address-card">
                                {% if address.setasmydefaultaddress %}
                                    <div class="address-card__badge tag-badge tag-badge--theme">Default</div>
                                {% endif %}
                                <div class="address-card__body">
                                    <div class="address-card__name">{{ address.adherent.nom }} {{ address.adherent.prenom }}</div>
                                    <div class="address-card__row">
                                        {{ address.street }}<br>
                                        {{ address.postcode }}, {{ address.city }}<br><br>
                                          <div class="address-card__row-title">Phone Number</div>
                                      <div class="address-card__row-content"> {{ app.user.tele }}<br><br></div>
                                         <div class="address-card__row-title">Email Address</div>
                                            <div class="address-card__row-content"> {{ app.user.email }}<br></div>
                                       
                                    </div>
                                    <div class="address-card__footer">
                                        <a href="{{ path('address_edit', {'id': address.id}) }}">Edit</a>&nbsp;&nbsp;
                                          <a href="{{ path('address_delete', {'id': address.id}) }}" class="delete-address-link" data-address-id="{{ address.id }}">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="addresses-list__divider"></div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}
