{% extends 'base.twig' %}

{% block title %} - Account Dashboard{% endblock %}

{% block body %}
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                {{ include('partials/_account-nav.twig', { activeNavItem: 'dashboard' }) }}
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="dashboard">
                        <div class="dashboard__profile card profile-card">
                            <div class="card-body profile-card__body">
                                <div class="profile-card__avatar">
                                    <img src="{{ asset('images/avatars/avatar-4.jpg') }}" alt="">
                                </div>
                                <div class="profile-card__name">{{ app.user.Nom }} {{  app.user.Prenom }}</div>
                                <div class="profile-card__email">{{  app.user.Email }}</div>
                                <div class="profile-card__edit">
                                    <a href="{{ path('profile') }}" class="btn btn-secondary btn-sm">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                        {% for adresse in app.user.Adresses%}
                            {% if adresse.isSetasmydefaultaddress() %}
                                <div class="dashboard__address card address-card address-card--featured">
                                    <div class="address-card__badge tag-badge tag-badge--theme">Default</div>
                                    <div class="address-card__body">
                                        <div class="address-card__name">{{ adresse.City }}</div>
                                        <div class="address-card__row">
                                            {{ adresse.Street }}
                                            <br>
                                            {{ adresse.Postcode }}, {{ adresse.City }}
                                        </div>
                                        <div class="address-card__row">
                                            <div class="address-card__row-title">Phone Number</div>
                                            <div class="address-card__row-content">{{ app.user.Tele }}</div>
                                        </div>
                                        <div class="address-card__row">
                                            <div class="address-card__row-title">Email Address</div>
                                            <div class="address-card__row-content">{{ app.user.Email }}</div>
                                        </div>
                                        <div class="address-card__footer">
                                            <a href="{{ path('address_edit',{'id': adresse.id}) }}">Edit Address</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="dashboard__orders card">
                            <div class="card-header">
                                <h5>Recent Orders</h5>
                            </div>
                            <div class="card-divider"></div>
                            <div class="card-table">
                                <div class="table-responsive-sm">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Order</th>
                                                <th>Date</th>
                                                <th>Status</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><a href="account-order-details.html">#8132</a></td>
                                                <td>02 April, 2019</td>
                                                <td>Pending</td>
                                                <td>$2,719.00 for 5 item(s)</td>
                                            </tr>
                                            <tr>
                                                <td><a href="account-order-details.html">#7592</a></td>
                                                <td>28 March, 2019</td>
                                                <td>Pending</td>
                                                <td>$374.00 for 3 item(s)</td>
                                            </tr>
                                            <tr>
                                                <td><a href="account-order-details.html">#7192</a></td>
                                                <td>15 March, 2019</td>
                                                <td>Shipped</td>
                                                <td>$791.00 for 4 item(s)</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}