{% extends 'base.twig' %}

{% block title %}
	- Edit Address
{% endblock %}

{% block body %}
	<div class="block-space block-space--layout--after-header"></div>
	<div class="block">
		<div class="container container--max--xl">
			<div class="row">
				{{ include('partials/_account-nav.twig', { activeNavItem: 'addresses' }) }}
				<div class="col-12 col-lg-9 mt-4 mt-lg-0">
					<div class="card">
						<div class="card-header">
							<h5>Edit Address</h5>
						</div>
						<div class="card-divider"></div>
						<div class="card-body card-body--padding--2">
							<div class="row no-gutters">
								<div class="col-12">
									<h1>Edit Address</h1>
									{{ form_start(form) }}
									<div class="form-group">
										{{ form_row(form.city, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="form-group">

										{{ form_row(form.street, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="form-group">

										{{ form_row(form.postcode, {'attr': {'class': 'form-control'}}) }}
									</div>
									<div class="form-group">

										{{ form_row(form.setasmydefaultaddress,{'attr': {'class': 'form-check-input'}}) }} 
									</div>
									<button type="submit" class="btn btn-primary">Save Address</button>
									{{ form_end(form) }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="block-space block-space--layout--before-footer"></div>
{% endblock %}
