{% extends 'base.twig' %}

{% block title %} - Order Details{% endblock %}

{% block body %}
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                {{ include('partials/_account-nav.twig', { activeNavItem: 'acount-orders' }) }}
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="order-header">
                            <div class="order-header__actions">
                                <a href="{{ path("acount-orders") }}" class="btn btn-xs btn-secondary">Back to list</a>
                            </div>
                            <h5 class="order-header__title">Order #{{ order.codeUnique }}</h5>
                            <div class="order-header__subtitle">
                                Was placed on <mark>{{ order.dateCommande|date('M d, Y') }}</mark> and is currently <mark>{{ order.statutsCommande.label() }}</mark>.
                            </div>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-table">
                            <div class="table-responsive-sm">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody class="card-table__body card-table__body--merge-rows">
                                    {% for line in orderLines %}
                                        <tr>
                                            <td>{{ line.pneu.marque }}</td>
                                            <td>{{ line.quantity }}</td>
                                            <td>{{ line.prix * line.quantity }} DH</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
{#                                    <tbody class="card-table__body card-table__body--merge-rows">#}
{#                                    <tr>#}
{#                                        <th>Subtotal</th>#}
{#                                        <td>{{ total }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>Shipping</th>#}
{#                                        <td>{{ order.shippingCost }}</td>#}
{#                                    </tr>#}
{#                                    <tr>#}
{#                                        <th>Tax</th>#}
{#                                        <td>{{ order.tax }}</td>#}
{#                                    </tr>#}
{#                                    </tbody>#}
                                    <tfoot>
                                    <tr>
                                        <th>Total</th>
                                        <td></td>
                                        <td>{{ order.total }} DH</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    {% if billingAddress %}
                    <div class="row mt-3 no-gutters mx-n2">
                        <div class="col-sm-6 col-12 px-2">
                            <div class="card address-card address-card--featured">
                                <div class="address-card__badge tag-badge tag-badge--theme">
                                    Shipping Address
                                </div>
                                <div class="address-card__body">
                                    <div class="address-card__name">{{ billingAddress.adherent.nom }} {{ billingAddress.adherent.prenom }}</div>
                                    <div class="address-card__row">
                                        {{ billingAddress.street }}<br>
                                        {{ billingAddress.city }}<br>
                                        {{ billingAddress.postcode }}
                                    </div>
                                    <div class="address-card__row">
                                        <div class="address-card__row-title">Phone Number</div>
                                        <div class="address-card__row-content">{{ billingAddress.adherent.tele }}</div>
                                    </div>
                                    <div class="address-card__row">
                                        <div class="address-card__row-title">Email Address</div>
                                        <div class="address-card__row-content">{{ billingAddress.adherent.email }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}
