{% extends 'base.twig' %}

{% block title %} - Account Password{% endblock %}

{% block body %}
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                {{ include('partials/_account-nav.twig', { activeNavItem: 'change-password' }) }}
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Change Password</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body card-body--padding--2">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    {{ form_start(form) }}
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('error') %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        {{ form_label(form.currentPassword) }}
                                        {{ form_widget(form.currentPassword, {'attr': {'class': 'form-control', 'placeholder': 'Current Password'}}) }}
                                        {% if form.currentPassword.vars.errors %}
                                            {% for error in form.currentPassword.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.plainPassword.first) }}
                                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'New Password'}}) }}
                                        {% if form.plainPassword.first.vars.errors %}
                                            {% for error in form.plainPassword.first.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.plainPassword.second) }}
                                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat Password'}}) }}
                                        {% if form.plainPassword.second.vars.errors %}
                                            {% for error in form.plainPassword.second.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group mb-0">
                                        <button class="btn btn-primary mt-3">Change</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}
