{% extends 'base.twig' %}

{% block title %} - Account Profile{% endblock %}

{% block body %}
    <div class="block-space block-space--layout--after-header"></div>
    <div class="block">
        <div class="container container--max--xl">
            <div class="row">
                {{ include('partials/_account-nav.twig', { activeNavItem: 'profile' }) }}
                <div class="col-12 col-lg-9 mt-4 mt-lg-0">
                    <div class="card">
                        <div class="card-header">
                            <h5>Edit Profile</h5>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body card-body--padding--2">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-7 col-xl-6">
                                    {{ form_start(form) }}
                                    {% for message in app.flashes('success') %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('error') %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <div class="form-group">
                                        {{ form_label(form.nom) }}
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
                                        {% if form.nom.vars.errors %}
                                            {% for error in form.nom.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.prenom) }}
                                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
                                        {% if form.prenom.vars.errors %}
                                            {% for error in form.prenom.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.email) }}
                                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email Address'}}) }}
                                        {% if form.email.vars.errors %}
                                            {% for error in form.email.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.tele) }}
                                        {{ form_widget(form.tele, {'attr': {'class': 'form-control', 'placeholder': 'Phone Number'}}) }}
                                        {% if form.tele.vars.errors %}
                                            {% for error in form.tele.vars.errors %}
                                                <span class="text-danger">{{ error.message }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="form-group mb-0">
                                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
{% endblock %}
