{% extends 'base.twig' %}

{% block title %} - Checkout{% endblock %}

{% block body %}
    <div class="site__body">
        <div class="block-header block-header--has-breadcrumb block-header--has-title">
            <div class="container">
                <div class="block-header__body">
                    <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                        <ol class="breadcrumb__list">
                            <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                            <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                                <a href="{{ url('home') }}" class="breadcrumb__item-link">Home</a>
                            </li>
                            <li class="breadcrumb__item breadcrumb__item--parent">
                                <a href="{{ path('cart') }}" class="breadcrumb__item-link">Cart</a>
                            </li>
                            <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                                <span class="breadcrumb__item-link">Checkout</span>
                            </li>
                            <li class="breadcrumb__title-safe-area" role="presentation"></li>
                        </ol>
                    </nav>
                    <h1 class="block-header__title">Checkout</h1>
                </div>
            </div>
        </div>
        <div class="checkout block">
            <div class="container container--max--xl">
                <div class="{{ app.user ? 'row' : '' }}">
                    {% if app.user %}
                        <div class="col-12 col-lg-6 col-xl-7">
                            <div class="card mb-lg-0">
                                {{ form_start(form_billign) }}
                                <div class="card-body card-body--padding--2">
                                    <h3 class="card-title">Billing details</h3>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form_label(form_billign.first_name) }}
                                            {{ form_widget(form_billign.first_name) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_label(form_billign.last_name) }}
                                            {{ form_widget(form_billign.last_name) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form_billign.company_name) }}
                                        {{ form_widget(form_billign.company_name) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form_billign.street_address) }}
                                        {{ form_widget(form_billign.street_address) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form_billign.apartment) }}
                                        {{ form_widget(form_billign.apartment) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form_billign.city) }}
                                        {{ form_widget(form_billign.city) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form_billign.postcode) }}
                                        {{ form_widget(form_billign.postcode) }}
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            {{ form_label(form_billign.email) }}
                                            {{ form_widget(form_billign.email) }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            {{ form_label(form_billign.phone) }}
                                            {{ form_widget(form_billign.phone) }}
                                        </div>
                                    </div>
                                    <div class="checkout__agree form-group">
                                        <div class="form-check">
                                            {{ form_widget(form_billign.terms) }}
                                            <label class="form-check-label" for="checkout-terms">
                                                I have read and agree to the website <a target="_blank" href="{{ path('terms') }}">terms and conditions</a>
                                            </label>
                                        </div>
                                    </div>
                                    {% if app.user %}
                                        <button type="submit" class="btn btn-primary btn-xl btn-block">Place Order</button>
                                    {% else %}
                                        <div class="col-12 mb-3">
                                            <div class="alert alert-lg alert-primary">Returning customer? <a href="{{ path('app_login') }}">Click here to login</a></div>
                                        </div>
                                    {% endif %}
                                </div>
                                {{ form_end(form_billign) }}
                                <div class="card-divider"></div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="{{ app.user ? 'col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0' : '' }}">
                        <div class="card mb-0">
                            <div class="card-body card-body--padding--2">
                                <h3 class="card-title">Your Order</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">
                                    {% for tire in panier.getLines %}
                                        <tr>
                                            <td>{{ tire.getMarque() }} <span class="text-primary">× {{ tire.getQuantity()}}</span></td>
                                            <td>{{ tire.getPrix() | number_format(2, '.', ',') }} DH</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tbody class="checkout__totals-subtotals">
                                    <tr>
                                        <th>Subtotal</th>
                                        <td>{{ subTotal | number_format(2, '.', ',') }} DH</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping</th>
                                        <td class="text-primary h6">Free</td>
                                    </tr>
                                    </tbody>
                                    <tfoot class="checkout__totals-footer h5 text-primary">
                                    <tr>
                                        <th>Total</th>
                                        <td>
                                            {% if reduction %}
                                                <span style="text-decoration: line-through;">{{ total | number_format(2, '.', ',') }} DH</span>
                                                <br>
                                                <span class="h4">{{ reduction | number_format(2, '.', ',') }} DH</span>
                                                <p class="text-success h6"><small>you applied <strong>{{ coupon }}</strong><br> (- {{ rate }} %)</small></p>
                                            {% else %}
                                                <span class="h4">{{ total | number_format(2, '.', ',') }} DH</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="checkout__payment-methods payment-methods">
                                    <ul class="payment-methods__list">
                                        <li class="payment-methods__item payment-methods__item--active">
                                            <label class="payment-methods__item-header">
                                                <span class="payment-methods__item-radio input-radio">
                                                    <span class="input-radio__body">
                                                        <input class="input-radio__input" name="checkout_payment_method" type="radio" checked>
                                                        <span class="input-radio__circle"></span>
                                                    </span>
                                                </span>
                                                <span class="payment-methods__item-title">Cash on Delivery (COD)</span>
                                            </label>
                                            <div class="payment-methods__item-container">
                                                <div class="payment-methods__item-details text-muted">
                                                    Pay with cash upon delivery. Please have the exact amount ready as our delivery personnel might not have change.
                                                </div>
                                            </div>
                                        </li>
                                        <li class="payment-methods__item">
                                            <div class="card-body">
                                                <h3 class="card-title text-center">Coupon Code</h3>
                                                <div class="form-group">
                                                    {{ form_start(form_coupon, {'attr': {'class': 'cart-table__coupon-form form-row', 'id': 'couponForm'}}) }}
                                                    <div class="form-group mb-0 col flex-grow-1">
                                                        {{ form_widget(form_coupon.coupon_code) }}
                                                    </div>
                                                    <div class="form-group mb-0 col-auto">
                                                        <button type="button" class="btn btn-sm btn-primary" id="applyCouponButton">Apply Coupon</button>
                                                    </div>
                                                    {{ form_end(form_coupon) }}
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-space block-space--layout--before-footer"></div>
    </div>

    <script src="{{ asset('js/checkout.js') }}"></script>
{% endblock %}
