{% extends 'base.twig' %}

{% block title %}
	- Wishlist
{% endblock %}

{% block body %}
	<!-- site__body -->
	<div class="site__body">
		<div class="block-header block-header--has-breadcrumb block-header--has-title">
			<div class="container">
				<div class="block-header__body">
					<nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
						<ol class="breadcrumb__list">
							<li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
							<li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
								<a href="{{ path('home') }}" class="breadcrumb__item-link">Home</a>
							</li>
							<li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
								<span class="breadcrumb__item-link">Whishlist</span>
							</li>
							<li class="breadcrumb__title-safe-area" role="presentation"></li>
						</ol>
					</nav>
					<h1 class="block-header__title">Wishlist</h1>
				</div>
			</div>
		</div>
		<div class="block">
			<div class="container container--max--xl">
				<div class="wishlist">
					<table class="wishlist__table">
						<thead class="wishlist__head">
							<tr class="wishlist__row wishlist__row--head">
								<th class="wishlist__column wishlist__column--head wishlist__column--image">Image</th>
								<th class="wishlist__column wishlist__column--head wishlist__column--product">Product</th>
								<th class="wishlist__column wishlist__column--head wishlist__column--stock">Stock status</th>
								<th class="wishlist__column wishlist__column--head wishlist__column--price">Price</th>
								<th class="wishlist__column wishlist__column--head wishlist__column--button"></th>
								<th class="wishlist__column wishlist__column--head wishlist__column--remove"></th>
							</tr>
						</thead>
						<tbody class="wishlist__body">
							{% for item in wishlist %}
								{{ include('partials/_wishlist-item.twig', { price: item.pneu.getFormattedPrice() }) }}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="block-space block-space--layout--before-footer"></div>
	</div>
	<!-- site__body / end -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        var wishlistRemoveUrl = '{{ path('wishlist_remove', {'id': 'pneuId'}) }}';
    </script>
	<script src="{{ asset('js/sweetalert.js') }}"></script>
	<script src="{{ asset('js/wishlist.js') }}"></script>
	
{% endblock %}
